.znaiblog-article-section-selection {
    position: fixed;
    border-bottom: 1px solid;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--znaiblog-header-background);

    padding: 4px;
    box-sizing: border-box;

    top: 0;
    left: 0;
    right: 0;
    min-height: 32px;

    z-index: 1000;
}

.znaiblog-article-section-selection.collapsed {
    cursor: pointer;
}

.znaiblog-article-section-selection.expanded {
    flex-direction: column;

    bottom: 0;
    height: 100%;
    justify-content: flex-start;
}

.znaiblog-article-section-selection-title-area {
    display: flex;
    align-items: center;
    padding: 8px;
}

.znaiblog-article-section-selection-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-right: 8px;
}

.znaiblog-article-section-selection-close {
    font-size: 12px;
    padding: 4px;
    cursor: pointer;
}

.znaiblog-article-section-selection-sections-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
}

.znaiblog-article-section-selection-section {
    cursor: pointer;
    font-size: 18px;
}

.znaiblog-article-section-selection-section.selected {
    font-weight: bold;
}

.znaiblog-body-no-scroll {
  overflow: hidden;
}