.main-panel {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}

.blog-layout {
}

.blog-header {
    background-color: var(--znaiblog-header-background-color);

    margin-bottom: 48px;
    margin-left: calc(-1 * var(--znai-single-side-horizontal-min-spacing));
    margin-right: calc(-1 * var(--znai-single-side-horizontal-min-spacing));
}

.blog-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: var(--znai-single-column-full-width);
    font-size: var(--znaiblog-title-size);
    color: var(--znaiblog-header-color);

    padding: 16px 0;

    margin-left: auto;
    margin-right: auto;
}

.blog-header-title {
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
}

.blog-body {
    width: var(--znai-single-column-full-width);
    margin: 0 auto;
}

.empty-section-title {
    display: none;
}

.blog-discuss {
    margin-top: 32px;
}

.blog-discuss-content {
    display: flex;

    max-width: var(--znai-single-column-full-width);

    margin-left: auto;
    margin-right: auto;
}

.blog-discuss-twitter {
    margin-right: 24px;
}

@media only screen and (max-width: 600px) {
    .blog-header-content {
        padding-left: var(--znai-single-side-horizontal-min-spacing);
        padding-right: var(--znai-single-side-horizontal-min-spacing);
    }

    .blog-header-title {
    }

    svg {
        max-width: 100%;
    }
}
