.main-panel {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;

    padding-left: 0;
    padding-right: 0;
}

.blog-layout {
}

.blog-header {
    background-color: var(--znaiblog-header-background-color);
    padding-left: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    padding-right: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    margin-bottom: 48px;
}

.blog-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: var(--znai-single-column-full-width);
    font-size: var(--znaiblog-title-size);
    color: var(--znaiblog-header-color);

    padding: 16px 0;

    margin-left: auto;
    margin-right: auto;
}

.blog-header-title {
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
}

.page-content {
    padding-left: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    padding-right: calc(1 * var(--znai-single-side-horizontal-min-spacing));
}

.empty-section-title {
    display: none;
}

.blog-discuss {
    margin-top: 32px;
}

.blog-discuss-content {
    display: flex;

    max-width: var(--znai-single-column-full-width);

    margin-left: auto;
    margin-right: auto;
}

.blog-discuss-twitter {
    margin-right: 24px;
}

.footer {
    margin-left: 0;
    margin-right: 0;
}