:root {
    --znai-brand-primary-color: #9c52aa;
    --znai-single-column-full-width: 900px;
    --znai-single-side-horizontal-min-spacing: 20px;
    --znaiblog-title-size: 36px;
    --znaiblog-list-title-size: 28px;

    --znaiblog-header-background-color: #17151d;
    --znaiblog-header-color: #afafaf;

    --znaiblog-mobile-breakpoint: 600px;
}

@media only screen and (max-width: 940px) {
    :root {
        --znai-single-column-full-width: auto;
    }

    svg {
        max-width: 100%;
    }

    .snippet-container {
        margin-left: calc(-1 *var(--znai-single-side-horizontal-min-spacing));
        margin-right: calc(-1 *var(--znai-single-side-horizontal-min-spacing));
    }

    .snippet-container .title-container .title,
    .snippet-container .snippet {
        border: none;
    }

    .snippet-container pre {
        white-space: nowrap;
        word-wrap: normal;
        overflow-x: auto;
    }
}
