.znaiblog-list-of-blog-entries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}

@media only screen and (max-width: 940px) {
    .znaiblog-list-of-blog-entries {
        grid-template-columns: 1fr;
    }
}

.znaiblog-list-entry-link-wrapper {
    display: block;
    width: 100%;
}

.znaiblog-list-entry a {
    color: var(--znai-regular-text-color);
    text-decoration: none;
}

.znaiblog-list-entry-title {
    font-size: var(--znaiblog-list-title-size);
    color: var(--znaiblog-article-title-color);
    font-weight: bold;
}

.znaiblog-list-entry-date {
    color: var(--znai-regular-text-light-color);
    font-size: 12px;
    margin-bottom: 12px;
}

.znaiblog-list-entry-summary {
    color: var(--znai-regular-text-color);
    font-size: 16px;
}
