.list-of-blog-entries {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;

    width: var(--znai-single-column-full-width);
    margin-left: auto;
    margin-right: auto;
}

.blog-list-entry-link-wrapper {
    display: block;
    width: 100%;
}

.blog-list-entry a {
    color: var(--znai-regular-text-color);
    text-decoration: none;
}

.blog-list-entry-title {
    font-size: var(--znaiblog-list-title-size);
    color: var(--znai-brand-primary-color);
    font-weight: bold;
}

.blog-list-entry-date {
    color: var(--znai-regular-text-light-color);
    font-size: var(--znai-smaller-text-size);
    margin-bottom: 8px;
}

.blog-list-entry-summary {
    color: var(--znai-regular-text-color);
}
